/* =========================
   APPLE VISION HEADER
========================= */

.vision-header{

    position:fixed;
    top:0;
    left:0;

    width:100%;

    z-index:9999;

    display:flex;
    justify-content:center;

    padding:20px;

    pointer-events:none;
}

.vision-nav{

    width:min(1100px,95%);

    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 28px;

    border-radius:999px;

    background:
    rgba(255,255,255,.06);

    backdrop-filter:blur(30px);
    -webkit-backdrop-filter:blur(30px);

    border:
    1px solid rgba(255,255,255,.08);

    box-shadow:
    0 10px 50px rgba(0,0,0,.25);

    pointer-events:auto;
}

.vision-logo{

    display:flex;
    align-items:center;
    gap:12px;

    font-size:.95rem;
    font-weight:700;
    letter-spacing:2px;
}

.logo-glow{

    width:10px;
    height:10px;

    border-radius:50%;

    background:#00d4ff;

    box-shadow:
    0 0 20px #00d4ff,
    0 0 40px #00d4ff;
}

.vision-nav nav{

    display:flex;
    gap:40px;
}

.vision-nav nav a{

    color:#dbeafe;

    text-decoration:none;

    font-size:.92rem;

    transition:.3s;
}

.vision-nav nav a:hover{

    color:#fff;

    transform:translateY(-2px);
}

.vision-button{

    border:none;

    padding:12px 22px;

    border-radius:999px;

    background:
    linear-gradient(
    135deg,
    #00d4ff,
    #7c3aed
    );

    color:white;

    font-weight:600;

    cursor:pointer;
}

.vision-button:hover{

    transform:scale(1.05);
}

body{

    padding-top:110px;
}

@media(max-width:900px){

    .vision-nav nav{
        display:none;
    }

}